name: Tests

on: 
  pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/ckeckout@v2
        with:
          repository: sktickets/ticketing
          path: ticketing
          token: ${{ secrets.PAT }}
          ref: master
      - run: cd auth && npm i && npm run test:ci
      
